@import '~loaders.css/loaders.min.css';
@import '~react-input-range/lib/css/index.css';
@import '~pretty-checkbox/src/pretty-checkbox.scss';
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,600');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');

// colors
$bg: #191a1a;
$white: #e5e9f0;
$slider: #428bca;
$dark: #2e3440;

// type
$thin: 300;
$reg: 400;
$thicc: 600;
$default: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
  'Helvetica Neue', sans-serif;
$mono: 'IBM Plex Mono', monospace;

body {
  margin: 0;
  padding: 0;
  font-family: $default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bg;
}

a {
  color: $dark;
}

table {
  width: 100%;
  td {
    &:first-child {
      font-weight: $thicc;
    }
    &:last-child {
      text-align: right;
      font-family: $mono;
    }
  }
}

.ball-scale-multiple {
  transform: scale(2, 2);
  margin-bottom: 8.5rem;
  div {
    background-color: $slider;
  }
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .text {
    font-size: 1.3rem;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 400px;
  display: flex;
  flex-direction: column;
  margin: 1rem;

  @media (max-width: 400px) {
    width: calc(100% - 2rem);
  }

  h1 {
    margin: 0;
    font-weight: $thicc;
    font-size: 1.2rem;
  }
  h2 {
    margin: 0;
    font-weight: $thin;
    font-size: 1rem;
  }
  .top {
    width: 100%;
    height: 5rem;
    padding: 1rem;
    color: $dark;
    background-color: $white;
    box-sizing: border-box;
    opacity: 0.9;
    position: relative;

    .button {
      position: absolute;
      transition: transform 300ms;
      transform: rotate(0deg);
      right: 1rem;
      top: 1.5rem;
      width: 2rem;
      cursor: pointer;
    }

    .button-down {
      @extend .button;
      transform: rotate(180deg);
    }
  }

  .mid {
    background-color: $white;
    transition: height 300ms;
    height: calc(100vh - 14rem);
    overflow: auto;
    .inner {
      box-sizing: border-box;
      margin: 1rem;
    }
  }

  .mid-closed {
    @extend .mid;
    height: 0px;
  }

  .bottom {
    height: 5rem;
    border-top: 0.5px dashed rgba($dark, 0.4);
    width: 100%;
    padding: 2rem;
    color: $dark;
    background-color: $white;
    box-sizing: border-box;
    border-bottom-color: transparent;
    opacity: 0.9;
  }
}

.tooltip {
  position: fixed;
  z-index: 999;
  background-color: $white;
  color: $bg;
  padding: 0.5rem;

  .date {
    font-weight: $thicc;
    font-family: $mono;
    text-align: center;
  }
  .country {
    text-align: center;
  }
  .latlong {
    text-align: center;
    font-size: 0.8rem;
    font-family: $mono;
    padding-bottom: 0.5rem;
    border-bottom: 1px dashed rgba($dark, 0.4);
  }
  .info {
    font-size: 0.5rem;
    text-align: center;
    margin-top: 0.3rem;
  }
}

.input-range__label {
  color: $dark;
  font-family: $default;
  font-weight: $thicc;
}

.input-range__slider {
  background-color: $slider;
  border-color: $slider;
}

.input-range__track--active {
  background-color: $slider;
}

.input-range__track--background {
  background-color: rgba($dark, 0.4);
}

.section-head {
  font-size: 0.9rem;
  font-weight: $thicc;
  margin-bottom: 0.8rem;
  padding-bottom: 0.2rem;
  text-transform: uppercase;
  border-bottom: 1px solid rgba($dark, 0.4);
}

.radio-group {
  .pretty {
    display: block;
    margin-bottom: 1rem;
  }
}

.legend-kill {
  width: calc(100% - 4rem);
  margin: 1rem 2rem 2rem 2rem;
  position: relative;
  display: block;
  font-weight: $thicc;
  font-family: $mono;

  img {
    width: 100%;
    height: 1rem;
    margin: 0.5rem 0;
  }

  &:before {
    content: '0';
    position: absolute;
    left: 0rem;
    bottom: -0.8rem;
  }
  &:after {
    display: block;
    content: '1,600';
    position: absolute;
    text-align: right;
    right: 0rem;
    bottom: -0.8rem;
  }
}

.legend-attack {
  div {
    margin-bottom: 0.5rem;
  }
  .circle {
    display: inline-block;
    margin-right: 1rem;
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
  }
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba($dark, 0.4);
  z-index: 999;
  overflow: auto;
  .close {
    position: absolute;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    top: 0.5rem;
    right: 0.5rem;
    pointer-events: all;
  }
  .inner {
    position: relative;
    padding: 1rem;
    box-sizing: border-box;
    margin: 4rem auto;
    width: 600px;
    background-color: $white;
    word-wrap: break-word;
    box-sizing: border-box;
    @media (max-width: 600px) {
      margin: 1rem;
      width: calc(100% - 2rem);
    }
    h2 {
      span {
        font-weight: $thin;
      }
    }
  }
}
